#topbar-logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;

    img {
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

#query-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 20px;
    }
}

#query-box {
    height: 40px;
    width: 500px;
    background-color: #d8d8d8;
    border: none;
    text-align: center;
}

input:focus {
    outline-color: #FF0000;

}

.dropdown-container {
    border: 1.5px solid black;
    width: 300px;
    margin-left: 200px;
}

.dropdown-container.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 100;
    transition: var(--speed) ease;
    background-color: white;
    border-radius: 5px;
    border-color: #FF0000;
}

.dropdown-container.inactive {
    opacity: 0;
}