#sidebar-container {
    position: relative;
}


#logo-container {
    position: absolute;
    height: 100px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

#youtube-logo {
    width: 100%;
    height: auto;
    margin: 0;
}

#sidebar-elements {
    text-align: center;
    margin-top: 160px;
}

.sidebar-link { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 20px;
    background-color: #FF0000;

    a {
        color: white;
    }
}

.sidebar-link:hover {
    background-color: #d80000;
}

img {
    grid-template-columns: 0 / 1;
    height: 20px;
    margin: 0px 10px;
}

.nav-link {
    grid-template-columns: 1 / span end;
    text-align: center;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;

}

h5 {
    color: #FF0000;  
}

a {
    text-decoration: none;
    color: #FF0000;
    margin: 0px 10px;
}

hr {
    width: 80%;
    border: 0.03em solid #e7d1d1;
}