.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sort-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 10px 30px;
}

.select-sort {
    height: 30px;
    border: none;
    color: #FF0000;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}